.list-item {
    padding-inline: 10px;
}
.shopping-counter {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 49, 49);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    bottom: 0;
    left: 28px;
}
